.seccion-2{
    h2{
      color: $color-negro;
    }
.imagenes{

    img{
        width: 300px;
        box-shadow: 10px 10px 16px rgb(119, 119, 119);
    }
    .texto-blanco{
      color:$color-negro;
      margin-top:50px;  
    }
}
}