.seccion-preguntas{
    color: $color-negro;
    background-color: $color-amarillo-suave;
}


.list-group-item{
    background-color: $color-amarillo-suave;
}

.formulario-duda{
    background-color: $color-amarillo-suave;
}