.seccion-preguntas{
    color: $color-negro;
    background-color: rgb(250, 250, 204);;
}


.list-group-item{
    background-color: rgb(250, 250, 204);
}

.formulario-duda{
    background-color: rgb(250, 250, 204);
}