.sucursales {


      .card--sucursales{
        color:$color-blanco;
        background:red ;
        border: none;
        border-radius:10px 10px;
          .img{
              width: 600px;
          }
      }
    
}